.location {
  position: absolute;
  display: grid;
  top: 0;
  right: 0;
  width: 17rem;
  height: 4.9rem;

  & input {
    height: 3rem;
    margin-top: 4px;
    padding-left: 1rem;
  }

  border: 1px solid blue;

}
