@import url(forms.css);

#app {
  position: relative;
  display: grid;
  grid-template-columns: 33% 67%;
  justify-content: center;

  gap: 1.25rem;

  height: 100vh;

  margin-top: 1.25rem;
}

aside {
  position: relative;
  width: 400px;
  height: 728px;
  margin-left: auto;
  border-radius: 12px;

  background: url(../assets/image/Background.png) center/cover no-repeat;

  overflow: hidden;

  & .aside-container {
    position: relative;
    top: 32px;
    left: 32px;
    display: grid;

    width: 21rem;
    height: 9rem;

    & .title {
      /* position: relative; */

      & .logo-image,
      img {
        position: relative;
        width: 2.87rem;
        height: 3rem;
        background: url(../assets/icon/Logo.svg) center/cover no-repeat;
      }

      & h1 {
        margin-top: 16px;
        font: var(--text-logo);
        color: var(--pink);
      }
      & p {
        letter-spacing: 0.8px;
        margin-top: 4px;
      }
    }
  }
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 820px;
  height: 100vh;
  border-radius: 12px;
  background-color: var(--shape-body);
  overflow: auto;

  & > * {
    direction: ltr;
  }

  & {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--pink) transparent;
    scrollbar-arrow-color: antiquewhite;
    direction: rtl;
    
  }
}
